# Archivos compilados de Java
*.class
*.jar
*.war
*.ear

# Directorio target de Maven
target/
!target/Rent_CarDP-1.0-SNAPSHOT.jar

# Archivos de IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
*~.nib

# Dependencias de Maven
dependency-reduced-pom.xml

# Archivos de configuración local
.settings/
.project
.classpath